<section class="contactUs">
  <div class="col-xs-12">
    <div class="innerSection">
      <h2>Contact Us</h2>
      <div>
        <table>
          <tr>
            <td>
              <span class="glyphicon glyphicon-phone"></span>
            </td>
            <td>
              <span class="details">+91 62324 16222</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-phone"></span>
            </td>
            <td>
              <span class="details">+91 62324 16444</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-envelope"></span>
            </td>
            <td>
              <span class="details">mastbhojanhai@gmail.com</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-map-marker"></span>
            </td>
            <td>
              <span class="details">Geeta Bhavan, Indore 452001</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>