<section class="contactUs">
  <div class="col-xs-12">
    <div class="innerSection">
      <h2>Why Us</h2>
      <div>
        <table>
          <tr>
            <td>
              <span class="glyphicon glyphicon-hand-right"></span>
            </td>
            <td>
              <span class="details">We provide you the best taste.</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-hand-right"></span>
            </td>
            <td>
              <span class="details">We provide you hygine food.</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-hand-right"></span>
            </td>
            <td>
              <span class="details">We provide food at your place.</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-hand-right"></span>
            </td>
            <td>
              <span class="details">We provide hot 'n' fresh Chapatis.</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-hand-right"></span>
            </td>
            <td>
              <span class="details">We also put emotions in our food to make our client happy.</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-hand-right"></span>
            </td>
            <td>
              <span class="details">We have a separate feedback team.</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-hand-right"></span>
            </td>
            <td>
              <span class="details">We have a dedicated teams for specific tasks.</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>