<div class="container-fluid noPadding">
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Mast Bhojan</a>
        </div>
      </div>
    </nav>
  </header>
  <nav>
    <div class="">
      <slideshow [height]="height" [minHeight]="'210px'" [autoPlay]="true" [arrowSize]="'10px'" [showArrows]="true" [showDots]="false"
        [imageUrls]="imageSources">
      </slideshow>
    </div>
  </nav>
  <app-happy-clients></app-happy-clients>  
  <div style="clear:both"></div>
  <app-why-us></app-why-us>
  <div style="clear:both"></div>
  <app-contact-us></app-contact-us>
</div>

<!--  -->